@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><img src="https://sufextrading.com/wp-content/themes/gonosen-child/images/rentacar/rentacar_01.png" alt="Car renting services"></h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
