@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Our car rental site is a trading name of Booking.com Transport Limited which is a limited company registered in England and Wales whose registered address is at 100 New Bridge Street, London, EC4V 6JA.
This site is part of Booking Holdings Inc., the world leader in online travel & related services.</p>
